accelerate==0.23.0
transformers==4.36.2
diffusers[torch]
ftfy
opencv-python
einops
pytorch-lightning
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub
open-clip-torch
# extra
rich
pandas
scipy
requests
pillow
numpy
gradio==3.41.2
fastapi
uvicorn
lion-pytorch
lycoris-lora
prodigyopt
dadaptation
wandb
httpx
xformers
# bitsandbytes
--index-url https://jihulab.com/api/v4/projects/140618/packages/pypi/simple
bitsandbytes